{{#get "posts" filter="featured:true" limit="all" include="tags" as |featured|}}
    {{#if featured}}
    <section class="mt-8 mb-22">

        <header class="border-b flex mb-5 pb-3">
            <h2 class="text-3xl lg:text-4xl">
                <a>Featured</a>
            </h2>
        </header>

        <div class="featured-posts owl">
        {{#foreach featured}}
            <article class="{{post_class}}">

                <figure class="flex flex-col">
                    <div class="u-placeholder same-height horizontal">
                        <a class="post-image-link" href="{{url}}">
                            {{#if feature_image}}
                                <img
                                    class="post-image object-fit"
                                    src="{{img_url feature_image size="l"}}"
                                    alt="{{title}}"
                                >
                            {{/if}}
                        </a>
                    </div>
                </figure>

                <header class="mb-5">
                    <h2>
                        <a class="" href="{{url}}">{{title}}</a>
                    </h2>
                </header>

                {{#primary_tag}}
                    <a class="badge tag-{{slug}}" href="{{url}}" title="{{name}}">
                        {{name}}
                    </a>
                {{/primary_tag}}

            </article>
        {{/foreach}}
        </div>

    </section>
    {{/if}}
{{/get}}