<article class="{{post_class}} flex relative py-6 md:py-8">

    <a
        href="{{url}}"
        class="block"
    >
        <header>
            <h2 class="font-bold text-xl tracking-tight break-words">
                {{title}}
            </h2>
        </header>

        <div class="mt-2">
            {{excerpt words="10"}}
        </div>
    </a>

    {{!-- {{#if feature_image}}
        <figure class="post-media">
            <div class="u-placeholder same-height rectangle">
                <a class="post-image-link" href="{{url}}">
                    <img class="post-image u-object-fit" src="{{img_url feature_image size="l"}}" alt="{{title}}">
                </a>
            </div>
        </figure>
    {{/if}} --}}

</article>