<!DOCTYPE html>
<html lang="{{@site.locale}}">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title>{{meta_title}}</title>

    <link rel="stylesheet" href="{{asset "built/index.css"}}" />
    <script src="{{asset "built/index.js"}}" defer></script>

    {{ghost_head}}
</head>

<body class="flex flex-col">

    <header class="sticky top-0 z-40 w-full backdrop-blur flex-none transition-colors duration-500 lg:z-50 lg:border-b lg:border-slate-900/10 dark:border-slate-50/[0.06] bg-white/95 supports-backdrop-blur:bg-white/60 dark:bg-transparent">
        <div class="container relative flex items-center py-4 border-b border-slate-900/10 lg:px-8 lg:border-0 dark:border-slate-300/10 px-4">
            <a
                href="{{@site.url}}"
                class="mr-3 flex-none overflow-hidden md:w-auto font-bold text-xl"
            >
                {{#if @site.logo}}
                    <img src="{{@site.logo}}" alt="{{@site.title}}">
                {{else}}
                    {{@site.title}}
                {{/if}}
            </a>

            <div class="relative hidden lg:flex items-center ml-auto">
                <nav class="text-sm leading-6 font-semibold text-slate-700 dark:text-slate-200">
                    {{navigation}}
                </nav>

                <button
                    data-ghost-search
                    class="btn btn-circle btn-ghost"
                >
                    <svg width="24" height="24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" aria-hidden="true">
                        <path d="m19 19-3.5-3.5"></path>
                        <circle cx="11" cy="11" r="6"></circle>
                    </svg>
                </button>
            </div>

            <div class="ml-auto flex items-center justify-center lg:hidden">
                <button
                    data-ghost-search
                    class="btn btn-circle btn-ghost"
                >
                    <svg width="24" height="24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" aria-hidden="true">
                        <path d="m19 19-3.5-3.5"></path>
                        <circle cx="11" cy="11" r="6"></circle>
                    </svg>
                </button>

                <div class="dropdown dropdown-bottom dropdown-end">
                    <button tabindex="0" class="btn btn-circle btn-ghost">
                        <svg width="24" height="24" fill="none" aria-hidden="true">
                            <path d="M12 6v.01M12 12v.01M12 18v.01M12 7a1 1 0 1 1 0-2 1 1 0 0 1 0 2Zm0 6a1 1 0 1 1 0-2 1 1 0 0 1 0 2Zm0 6a1 1 0 1 1 0-2 1 1 0 0 1 0 2Z" stroke="currentColor" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"></path>
                        </svg>
                    </button>

                    <ul tabindex="0" class="dropdown-content menu bg-base-100 rounded-box z-[99] min-w-52 p-2 shadow">
                        {{#foreach navigation}}
                        <li class="nav-{{slug}}{{#if current}} nav-current{{/if}}">
                            <a href="{{url absolute="true"}}">
                                {{label}}
                            </a>
                        </li>
                        {{/foreach}}
                    </ul>
                </div>
            </div>
        </div>
    </header>

    {{#is "home"}}
    <div
        class="hero min-h-[500px] relative"
        style="background-image: url({{img_url @site.cover_image}});"
    >

        <div class="hero-overlay bg-opacity-40"></div>
        <div class="hero-content text-center">
            <div class="max-w-md">
                {{#if @site.description}}
                    <p class="mb-5 text-neutral-content">
                        {{@site.description}}
                    </p>
                {{/if}}

                <label
                    data-ghost-search
                    class="input input-bordered flex items-center gap-2 md:min-w-90"
                >
                    <input
                        type="text"
                        class="grow"
                        placeholder="Search"
                    />
                    <svg
                        xmlns="http://www.w3.org/2000/svg"
                        viewBox="0 0 16 16"
                        fill="currentColor"
                        class="h-4 w-4 opacity-70"
                    >
                        <path
                            fill-rule="evenodd"
                            d="M9.965 11.026a5 5 0 1 1 1.06-1.06l2.755 2.754a.75.75 0 1 1-1.06 1.06l-2.755-2.754ZM10.5 7a3.5 3.5 0 1 1-7 0 3.5 3.5 0 0 1 7 0Z"
                            clip-rule="evenodd" />
                    </svg>
                </label>
            </div>
        </div>
    </div>
    {{/is}}

    <div class="pb-0 pt-15 md:pb-15 flex-grow">
        {{{body}}}
    </div>

    <footer class="footer footer-center bg-base-100 text-base-content rounded p-10">
        <nav class="grid grid-flow-col gap-4">
            <a class="link link-hover">About us</a>
            <a class="link link-hover">Contact</a>
        </nav>

        <aside>
            <p>{{@site.title}} © {{date format="YYYY"}} - All right reserved</p>
        </aside>
    </footer>

{{#is "post, page"}}
    {{> "pswp"}}
{{/is}}

<script
    src="https://code.jquery.com/jquery-3.3.1.min.js"
    integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8="
    crossorigin="anonymous">
</script>

<script src="{{asset "built/owl.carousel.min.js"}}"></script>

{{ghost_foot}}

</body>
</html>